.navigation {
    display: flex;
    flex-flow: row nowrap;
}

.contentwrap {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 0px 5px 0px 0px;
}

.contentwrap>section>h2 {
    width: 100%;
}

.ingredientwrap {
    display: flex;
    flex-flow: row wrap;
}

span {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: auto;
}

.contentwrap::-webkit-scrollbar {
    width: 8px;
}

.contentwrap::-webkit-scrollbar-track {
    background-color: #2F2F37;
}

.contentwrap::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-clip: content-box;
    background-color: #8585AD;
}

.main {
    display: flex;
    flex-direction: column;
}